<h1>Socioeconomic Attributes </h1>

<div class="row">
  <div class="span6 off">
    <%= form_for(:session, url: "/analyze") do |f| %>
		<table>
			<tr>
				<td> <%= f.label "Gender" %> </td>
      			<td><%= select_tag(:gender,  options_for_select(['Male','Female']))  %> </td>
			</tr>
			<tr>
				<td> <%= f.label "Age" %> </td>
      			<td><%= f.number_field :age %> </td>
			</tr>
			<tr>
				<td> <%= f.label "Matial Status" %> </td>
      			<td><%= select_tag(:status,  options_for_select(['Single','Married','Divorced', 'Widowed']))  %> </td>
			</tr>
			<tr>
				<td> <%= f.label "Occupation" %> </td>
      			<td><%= f.text_field :occupation %> </td>
			</tr>
			<tr>
				<td> <%= f.label "Number of Persons per Household" %> </td>
      			<td><%= f.number_field :personCount %> </td>
			</tr>
			<tr>
				<td> <%= f.label "Driving Lisense" %> </td>
      			<td><%=select_tag(:Lisence,  options_for_select(['Yes','No']))  %> </td>
			</tr>
			<tr>
				<td> <%= f.label "Number of Veichles per Household" %> </td>
      			<td><%= f.number_field :veichleCount, :onChange=>"carInfo(this)" %> </td>
			</tr>
			<tr class="carInfo">
				<td> <%= f.label "Car ID" %> </td>
      			<td><%= f.text_field :cardId %> </td>
			</tr>
			<tr class="carInfo">
				<td> <%= f.label "Car Type" %> </td>
      			<td><%= select_tag(:carType,  options_for_select(['Sedan','SUV','Coupe','Van','Truck']))  %> </td>
			</tr>
			<tr class="carInfo">
				<td> <%= f.label "Car Make" %> </td>
      			<td><%= f.text_field :carMake %> </td>
			</tr>
			<tr class="carInfo">
				<td> <%= f.label "Car Model" %> </td>
      			<td><%= f.text_field :carModel %> </td>
			</tr>
			<tr class="carInfo">
				<td> <%= f.label "Car Year" %> </td>
      			<td><%= f.text_field :carYear %> </td>
			</tr>
			<tr class="carInfo">
				<td> <%= f.label "Car Fuel Type" %> </td>
      			<td><%= select_tag(:carFuel,  options_for_select(['Conventional','Hybrid','Electric']))  %> </td>
			</tr>
			<tr>
				<td> <%= f.label "Total House Hold Income Level per Year" %> </td>
      			<td><%= select_tag(:yearIncome,  options_for_select(['Less than $10,000','$10,000 to $19,999','$20,000 to $29,999',
      					'$30,000 to $39,999','$40,000 to $49,999','$50,000 to $59,999','$60,000 to $69,999',
      					'$70,000 to $79,999','$80,000 to $89,999','$90,000 to $99,999','$100,000 and over'])) %> </td>
			</tr>
		</table>
	<% end %>
 </div>

</div>
