<!DOCTYPE html>
<html lang="en">
<head>
  <title>Surveyer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://maps.googleapis.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="introduction" class="hero-unit">
<h1>Survey</h1>
<h5>Cross-Regional Commuters' Mode Choice Travel Survey</h5>

<h5>This Survey Is Intended To Measure Cross-Regional Commuters' Mode Choice Preferences</h5>

<h4>Joint Revealed Preference (RP) and Stated Preference (SP) Survey</h4>

<p> Dear Survey Respondent,<br /> <br /> 

You have been randomly selected to participate in a research study conducted by the Department of Civil Engineering at the University of Toronto. This study aims at achieving a better understanding of cross-regional commuters' mode choice preferences (e.g., drive all-way, local transit, regional transit, park-and-ride, etc.) in response to changes in transit service attributes. <br /><br /> 

We are contacting a random sample of cross-regional commuters in the Greater Toronto and Hamilton Area (GTHA) to gather information on their personal attitudes and habits associated with daily commuting work trips.<br /><br />  

The survey is divided into three sections: <b>Section A</b> will gather information on your daily commuting work trip and current travel options; <b>Section B</b> will ask about hypothetical scenarios where travel modes’ service attributes are different than the current state; and, <b>Section C</b> will collect socioeconomic and demographic characteristics.<br /> <br /> 

We kindly ask you to participate in this web survey so that your opinion is represented in our study. This survey is designed to be as short as possible and will take approximately 15 minutes to complete. Please answer every question in each section in order to proceed to subsequent sections. <br /><br /> 

You may choose not to complete the survey at any time without any penalty. Keep in mind, however, that the responses submitted in previous sections are not retrievable, and therefore will still be anonymously included in final survey results.<br /> <br /> 

Please note that there is no related risk involved with your participation in this study. All the collected information will be stored securely at the University and will be processed with the utmost confidentiality and for academic purposes only. Your cooperation is highly appreciated. <br /><br /> 

Should you have any questions about the study, please feel free to e-mail us at mohamed.mahmoud@utoronto.ca. For any questions regarding your rights as a respondent in this survey, you are free to contact the office of Research Ethics, University of Toronto, McMurrich Building, 2nd floor, 12 Queen's Park Crescent West Toronto, ON M5S 1S8, Tel: (416) 946-3273, Fax: (416) 946-5763, Email: ethics.review@utoronto.ca.<br /> <br /> </p>

<h4>Consent of Participant </h4>
<p>
By pressing the "Login" button, you will indicate to us that you agree, of your own freewill, to voluntarily participate in this study after carefully reading and fully understanding the information presented in the introductory section of the survey.<br /> 
</p>





<h4> SECTION A. TRAVEL DIARY </h4>

<p> In this section, the survey will gather information about all trips that you made the previous working day including trip origin and destination, means of commuting, travel attributes and the reasons why you choose your mode.<br /> <br /> 

Refer to definitions below for clarification of some modes of travel.<br /> </p>

<h5>A. Travel Modes:</h5>
<p>
<b>Auto Driver:</b> one person driving his own car.<br /> 
<b>Auto Passenger/ Carpool:</b> two or more adults sharing a single vehicle. <br /> 
<b>Park & Ride:</b> the combination of auto driver and using public transit. A person drives to a park and ride station, parks the car at the station and takes transit.<br /> 
<b>Kiss & Ride:</b> the combination of auto passenger and using public transit. A person is being dropped off at a park and ride station and takes transit. The other person leaves right after.<br /> 
<b>Carpool & Ride:</b> the combination of carpooling and using public transit. Two or more persons drive to a park and ride station, park the car at the station and take transit.<br /> 
<b>Cycle & Ride:</b> the combination of cycling and using public transit. . A person bikes to a transit station, parks the bike at the station and takes transit.<br /> </p>

<h5>B. Transit Trip Travel Time is typically divided into the following components:</h5> 
<p>
<b>Access Time:</b> Time taken to travel from the trip origin location to the access (first) transit stop/station of the primary mode.<br /> 
<b>Waiting Time:</b> Time taken to wait for the transit unit at the access (first) transit stop/station of the primary mode.<br /> 
<b>On-line (In-vehicle) Travel Time:</b> Time taken to travel from the origin transit stop/station to the destination transit stop/station on a transit vehicle(s) of the primary mode.<br /> 
<b>Transfer Time:</b> Time taken to transfer between different transit units.<br /> 
<b>Egress Time:</b> Time taken to travel from the egress (last) transit stop/station of the primary mode to the final trip destination.<br /> 
<b>Total Trip Time:</b> Total trip time from trip origin to trip destination (door to door).<br /> </p>
<%= image_tag("tranIntro.png") %>
</div>
<div class="container" id="holder">
	<%= yield %>
</div>
</body>
</html>
