<!DOCTYPE html>
<html lang="en">
<head>
  <title>Surveyer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://maps.googleapis.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="introduction" class="hero-unit">
<%= image_tag("ULogo.jpg", :class => "pull-right") %>
<h3>Cross-Regional Commuters' Mode Choice Travel Survey</h3>
<h5>This Survey Is Intended To Measure Cross-Regional Commuters' Mode Choice Preferences</h5>

<h4>Joint Revealed Preference (RP) and Stated Preference (SP) Survey</h4>

<p> Dear Survey Respondent,<br /> <br /> 

You have been randomly selected to participate in a research study conducted by the Department of Civil Engineering at the University of Toronto. This study aims at achieving a better understanding of cross-regional commuters' mode choice preferences (e.g., drive all-way, local transit, regional transit, park-and-ride, etc.) in response to changes in transit service attributes. <br /><br /> 

We are contacting a random sample of cross-regional commuters in the Greater Toronto and Hamilton Area (GTHA) to gather information on their personal attitudes and habits associated with daily commuting work trips.<br /><br />  

The survey is divided into three sections: <b>Section A</b> will gather information on your daily commuting work trip and current travel options; <b>Section B</b> will ask about hypothetical scenarios where travel modes’ service attributes are different than the current state; and, <b>Section C</b> will collect socioeconomic and demographic characteristics.<br /> <br /> 

We kindly ask you to participate in this web survey so that your opinion is represented in our study. This survey is designed to be as short as possible and will take approximately 15 minutes to complete. Please answer every question in each section in order to proceed to subsequent sections. <br /><br /> 

You may choose not to complete the survey at any time without any penalty. Keep in mind, however, that the responses submitted in previous sections are not retrievable, and therefore will still be anonymously included in final survey results.<br /> <br /> 

Please note that there is no related risk involved with your participation in this study. All the collected information will be stored securely at the University and will be processed with the utmost confidentiality and for academic purposes only. Your cooperation is highly appreciated. <br /><br /> 

Should you have any questions about the study, please feel free to e-mail us at mohamed.mahmoud@utoronto.ca. For any questions regarding your rights as a respondent in this survey, you are free to contact the office of Research Ethics, University of Toronto, McMurrich Building, 2nd floor, 12 Queen's Park Crescent West Toronto, ON M5S 1S8, Tel: (416) 946-3273, Fax: (416) 946-5763, Email: ethics.review@utoronto.ca.<br /> <br /> </p>

<h4>Consent of Participant </h4>
<p>
By pressing the "Login" button, you will indicate to us that you agree, of your own freewill, to voluntarily participate in this study after carefully reading and fully understanding the information presented in the introductory section of the survey.<br /> 
</p>
<a class="btn btn-primary btn-large" onclick="Login()">
    Login
    </a>
</div>



<div id="introductionA" class="hero-unit silence">
<%= image_tag("ULogo.jpg", :class => "pull-right") %>
<h4> SECTION A. TRAVEL DIARY </h4>

<p> In this section, the survey will gather information about all trips that you made the previous working day including trip origin and destination, means of commuting, travel attributes and the reasons why you choose your mode.<br /> <br /> 

Refer to definitions below for clarification of some modes of travel.<br /> </p>

<h5>A. Travel Modes:</h5>
<p>
<b>Auto Driver:</b> one person driving his own car.<br /> 
<b>Auto Passenger/ Carpool:</b> two or more adults sharing a single vehicle. <br /> 
<b>Park &amp; Ride:</b> the combination of auto driver and using public transit. A person drives to a park and ride station, parks the car at the station and takes transit.<br /> 
<b>Kiss &amp; Ride:</b> the combination of auto passenger and using public transit. A person is being dropped off at a park and ride station and takes transit. The other person leaves right after.<br /> 
<b>Carpool &amp; Ride:</b> the combination of carpooling and using public transit. Two or more persons drive to a park and ride station, park the car at the station and take transit.<br /> 
<b>Cycle &amp; Ride:</b> the combination of cycling and using public transit. . A person bikes to a transit station, parks the bike at the station and takes transit.<br /> </p>

<h5>B. Transit Trip Travel Time is typically divided into the following components:</h5> 
<p>
<b>Access Time:</b> Time taken to travel from the trip origin location to the access (first) transit stop/station of the primary mode.<br /> 
<b>Waiting Time:</b> Time taken to wait for the transit unit at the access (first) transit stop/station of the primary mode.<br /> 
<b>On-line (In-vehicle) Travel Time:</b> Time taken to travel from the origin transit stop/station to the destination transit stop/station on a transit vehicle(s) of the primary mode.<br /> 
<b>Transfer Time:</b> Time taken to transfer between different transit units.<br /> 
<b>Egress Time:</b> Time taken to travel from the egress (last) transit stop/station of the primary mode to the final trip destination.<br /> 
<b>Total Trip Time:</b> Total trip time from trip origin to trip destination (door to door).<br /> </p>
<%= image_tag("tranIntro.png") %>
</div>
<div id="introductionB" class="hero-unit silence"> 
	<%= image_tag("ULogo.jpg", :class => "pull-right") %>
	<h4>SECTION B. Stated Preference Survey</h4>
	<p>In this section, you are provided with 6 hypothetical scenarios. In each scenario, you are making your usual trip from home to work and are asked to choose which mode of travel you would use given different situations and transit service attributes. Please take your time and consider each situation carefully. If the current choice is no longer available, please consider the following alternative choices and select the one that you would use to make your current work trip based on mode features presented in the table below. </p>
<table class="table table-striped">

 <tr>
 	<td><b>Acronym</b></td>
 	<td><b>Mode Descriptions</b></td>
 </tr>


	<tr>
		<td>AD</td>
		<td>Auto Driver all way</td>
	</tr>
	<tr>
		<td>AC/CP</td>
		<td>Auto Passenger/ Carpool all way</td>
	</tr>
	<tr>
		<td>LTW</td>
		<td>Local Transit with Walk access<br />
			<p class="text-info"><i>Example: Walk access to a MiWay Bus stop, a MiWay Bus trip to a TTC Subway station, and then a TTC Subway trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>LTAD</td>
		<td>Local Transit with Auto Driver access (Park and Ride)<br />
		<p class="text-info"><i>Example: Auto Drive access (only one person per vehicle) to a TTC Subway Park and Ride station, and then a TTC Subway trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>LTAP</td>
		<td>Local Transit with Auto Passenger access (Kiss and Ride)<br />
		<p class="text-info"><i>Example: Auto Passenger access (a person is being dropped off) to a TTC Subway Park and Ride station, and then a TTC Subway trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>LTCP</td>
		<td>Local Transit with CarPool access (Carpool and Ride)<br />
		<p class="text-info"><i>Example: Carpool access (more than one person per vehicle) to a TTC Subway Park and Ride station, and then a TTC Subway trip to the final destination</i></p></td>
	</tr>
	<tr>
		<td>LTB</td>
		<td>Local Transit with Bike access<br />
		<p class="text-info"><i>Example: Bike access to a MiWay Bus stop, a MiWay Bus trip to a TTC Subway station, and then a TTC Subway trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>RTW</td>
		<td>Regional Transit with Walk access<br />
		<p class="text-info"><i>Example: Walk access to a GO Train/Bus station, and then a GO Train/Bus trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>RTAD</td>
		<td>Regional Transit with Auto Driver access (Park and Ride)<br />
		<p class="text-info"><i>Example: Auto Drive access (only one person per vehicle) to a GO Train/Bus Park and Ride station, and then a GO Train/Bus trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>RTAP</td>
		<td>Regional Transit with Auto Passenger access (Kiss and Ride) <br />
		<p class="text-info"><i>Example: Auto Passenger access (a person is being dropped off) to a GO Train/Bus Park and Ride station, and then a GO Train/Bus trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>RTCP</td>
		<td>Regional Transit with CarPool access (Carpool and Ride)<br />
		<p class="text-info"><i>Example: Carpool access (more than one person per vehicle) to a GO Train/Bus Park and Ride station, and then a GO Train/Bus trip to the final destination</i></p></td>
	</tr>
	<tr>
		<td>RTB</td>
		<td>Regional Transit with Bike access<br />
		<p class="text-info"><i>Example: Bike access to a GO Train/Bus station, and then a GO Train/Bus trip to the final destination.</i></p></td>
	</tr>
	<tr>
		<td>RTLTW</td>
		<td>Regional Transit with Local Transit Walk access<br />
		<p class="text-info"><i>Regional Transit with Local Transit Walk access
		Example: Walk access a TTC Subway station, a TTC Subway trip to a GO Train/Bus station, 
		and then a GO Train/Bus trip to the final destination.
		</i></p></td>
	</tr>

</table>

<h5>Attribute Definitions:</h5>
<table class="table table-striped">

 <tr>
 	<td><b>Attribute</b></td>
 	<td><b>Attribute Description</b></td>
 </tr>


	<tr>
		<td>Travel Cost/Fare ($)</td>
		<td>Travel Cost <br />
			<p class="text-info"><i>Includes fuel cost and/or transit fare(s).DOES NOT include any parking costs
			</i></p></td>
	</tr>
	<tr>
		<td>Local Transit-GO Transit Access CO-Fare ($)</td>
		<td>Local Transit to GO Transit CO-Fare<br />
			<p class="text-info"><i>Example: A MiWay Bus access trip to GO Transit costs ($0.60) instead of a full MiWay fare ($3.25)
			</i></p></td>
	</tr>
	<tr>
		<td>GO Transit to Local Transit CO-Fare</td>
		<td>Local Transit with Walk access<br />
			<p class="text-info"><i>Example: A MiWay Bus egress trip from GO Transit
			costs ($0.60) instead of a full MiWay fare ($3.25)
			</i></p></td>
	</tr>
	<tr>
		<td>Parking Cost at Local Transit P&amp;R Station ($)</td>
		<td>Parking Cost at Park and Ride TTC Subway Stations.<br />
		<p class="text-info"><i>Average daily parking cost.</i></p></td>
	</tr>
	<tr>
		<td>Reserved Parking at P&amp;R GO Stations</td>
		<td>The availability of a reserved parking option at Park and Ride GO Transit Station.<br />
		<p class="text-info"><i>Takes the values of “Yes” for available and “NO” for not available.</i></p></td>
	</tr>
	<tr>
		<td>Daily Parking Cost at P&amp;R GO Stations ($)</td>
		<td>Daily parking cost at Park and Ride GO Transit Stations.<br />
		<p class="text-info"><i>Daily parking rates are only provided if reserved parking option is not available. </i></p></td>
	</tr>
	<tr>
		<td>Monthly Parking Cost at GO Stations ($)</td>
		<td>Monthly parking cost at Park and Ride GO Transit Stations.<br />
		<p class="text-info"><i>Monthly parking rates are only provided if reserved parking option is available.</i></p></td>
	</tr>
	<tr>
		<td>Daily Parking Cost at Work Location ($)</td>
		<td>Daily Parking cost at work location.</td>
	</tr>
	<tr>
		<td>Next Bus Information</td>
		<td>The availability of information provision of the next bus.<br />
		<p class="text-info"><i>Only for local transit buses. Takes the values of “Yes” for available and “NO” for not available.</i></p></td>
	</tr>
	<tr>
		<td>Wifi on GO Trains/Buses</td>
		<td>The availability of Wifi services on GO Train/Buses.<br />
		<p class="text-info"><i>Only for GO Transit. Takes the values of “Yes” for available and “NO” for not available.</i></p></td>
	</tr>
	<tr>
		<td>Access Time (min)</td>
		<td>Time taken to travel from the trip origin location to the access (first) transit stop/station of the primary mode.</td>
	</tr>
	<tr>
		<td>Wait Time (min)</td>
		<td>Time taken to wait for the transit unit at the access (first) transit stop/station of the primary mode.</td>
	</tr>
	<tr>
		<td>On-line (In-vehicle) Travel Time (min)</td>
		<td>Time taken to travel from the origin transit stop/station to the destination transit stop/station on a transit vehicle(s) of the primary mode.</td>
	</tr>
	<tr>
		<td>Transfer Time (min)</td>
		<td>Time taken to transfer between different transit units.</td>
	</tr>
	<tr>
		<td>Egress Time (min)</td>
		<td>ime taken to travel from the egress (last) transit stop/station of the primary mode to the final trip destination.</td>
	</tr>
	<tr>
		<td>Total Trip Time (min)</td>
		<td>Total trip time from trip origin to trip destination (door to door).</td>
	</tr>

</table>

</div>
<div class="container silence" id="holder">
	<%= yield %>
</div>
<footer>
	<%= image_tag("footer_logo.gif", :class => "pull-right") %>
  <p>Posted by: Mohamed Mahmoud</p>
  <p>Contact information: <a href="mailto:ethics.review@utoronto.ca">
  ethics.review@utoronto.ca</a>.</p>
</footer>

</body>
</html>
